:root {
	--padding-s: 0.5rem;
	--padding-m: 1rem;
	--main-header-height: 3rem;
	--main-aside-width: 14rem;
	--radius: 6px;
	--border: 1px solid #d9d9d9;

	--shadow-overlay: 0px 8px 12px #1e1f2126, 0px 0px 1px #1e1f214f;
	--shadow-raised: 0px 1px 1px #1e1f2140, 0px 0px 1px #1e1f214f;

	--hover: inset 999px 999px 999px #00000010;

	--colour-accent: #1677ff;
	--colour-primary: #1677ff;
	--colour-success: #52c41a;
	--colour-warning: #faad14;
	--colour-error: #ff4d4f;
}
@media (prefers-color-scheme: dark) {
	html {
		--darkmode: 1;
	}
}
@media (prefers-color-scheme: light) {
	html {
		--darkmode: 0;
	}
}
/*.colour-scheme        [trim] impl Css::COLOUR_SCHEME */
/*.colour-scheme-light  [trim] impl Css::COLOUR_SCHEME_LIGHT */
/*.colour-scheme-dark   [trim] impl Css::COLOUR_SCHEME_DARK */
html:has(#colour-scheme-light:checked) {
	--darkmode: 0;
}
html:has(#colour-scheme-dark:checked) {
	--darkmode: 1;
}
