.card /* impl Css::CARD */ {
	background-color: var(--fill);
	box-shadow: var(--shadow-raised);
	padding: var(--padding-m);
	border-radius: var(--radius);
}
.v-divider /* impl Css::V_DIVIDER */ {
	border-right: var(--border);
	height: stretch;
	margin-top: var(--padding-s);
	margin-bottom: var(--padding-s);
}
.card-overview /* impl Css::CARD_OVERVIEW */ {
	position: relative;
	background-color: var(--colour-accent);
	margin: calc(var(--padding-m) * -1);
	margin-bottom: calc(var(--padding-m) * 3);
	padding: var(--padding-m);
	padding-bottom: calc(var(--padding-l) * 2);
}
.card-overview > h2 {
	color: var(--bg);
}
.card-overview > div {
	position: absolute;
	display: flex;
	justify-content: space-between;
	gap: var(--padding-l);
	width: stretch;
	margin-right: var(--padding-m);
}
.card-overview-status /* impl Css::CARD_OVERVIEW_STATUS */ {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--padding-s);
}
.card-overview-status > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
