html {
	scrollbar-width: thin;
	scrollbar-color: #7f7f7f transparent;
}
body {
	margin-top: calc(var(--main-header-height) + var(--padding-m));
	margin-left: calc(var(--main-aside-width) + var(--padding-m));
	margin-right: var(--padding-m);
	background-color: #f0f0f0;
}
@container style(--dark-mode: 1) {
	body {
		background-color: #2d2d2d;
	}
}
* {
	font-family: "Lato", sans-serif;
	color: var(--fg);
}
a {
	all: unset;
	cursor: pointer;
}
hr {
	width: 100%;
	height: 1px;
	border: 0;
	background: var(--border-col);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: unset;
}
h1.revert, /* impl Css::REVERT */
h2.revert,
h3.revert,
h4.revert,
h5.revert,
h6.revert {
	margin: revert;
}
dialog {
	background-color: var(--fill);
}
.link /* impl Css::LINK */ {
	text-decoration: underline;
}
.monospace {
	font-family: "JetBrains Mono", monospace;
	font-size: small;
}
.flex-row /* impl Css::FLEX_ROW */ {
	flex-direction: row;
}
.flex-col /* impl Css::FLEX_COL */ {
	flex-direction: column;
}
.flex-row,
.flex-col {
	display: flex;
	gap: var(--padding-m);
}
.flex-centre /* impl Css::FLEX_CENTRE */ {
	display: flex;
	align-items: center;
	justify-content: center;
}
.align-left /* impl Css::FLEX_ALIGN_LEFT */ {
	align-items: flex-start;
}
.align-centre /* impl Css::FLEX_ALIGN_CENTRE */ {
	align-items: center;
}
.no-gap /* impl Css::NO_GAP */ {
	gap: unset;
}
.icon-list-item:has(+ .header-dropdown-content:popover-open),
.selected /* impl Css::SELECTED */ {
	box-shadow: inset 4px 0px 0px 0px var(--colour-accent);
	background-color: hsl(from var(--colour-accent) h s calc(l + 40));
}
.icon-list-item:has(+ .header-dropdown-content:popover-open) > .float-right {
	transform: scale(-1, -1);
}
@container style(--dark-mode: 1) {
	.icon-list-item:has(+ .header-dropdown-content:popover-open),
	.selected {
		background-color: hsl(from var(--colour-accent) h s calc(l - 25));
	}
}
.bg /* impl Css::BG */ {
	background-color: black;
}
.bg.error {
	background-color: var(--colour-error);
}
.bg.warning {
	background-color: var(--colour-warning);
}
.bg.info {
	background-color: var(--colour-primary);
}
.bg.success {
	background-color: var(--colour-success);
}
.col /* impl Css::COL */ {
	color: var(--fb);
}
.col.error * {
	color: var(--colour-error);
}
.col.warning * {
	color: var(--colour-warning);
}
.col.info * {
	color: var(--colour-primary);
}
.col.success * {
	color: var(--colour-success);
}
.hover:hover /* impl Css::HOVER */ {
	cursor: pointer;
	box-shadow: var(--hover);
}
#sna /* [trim] impl Css::ID_SNA */ {
	position: relative;
	cursor: pointer;
	opacity: 0.5;
	width: 1rem;
	height: 1rem;
	transition: all 0.2s ease-in-out;
}
#sna:hover {
	opacity: 1;
	width: 2rem;
	height: 2rem;
}
#sna + i {
	opacity: 0;
	position: absolute;
	left: calc(50% + 1.5rem);
	transition: all 0.2s ease-in-out;
}
#sna:hover + i {
	opacity: 1;
}
#sandpit /* [trim] impl Css::ID_SAND */ {
	width: calc(100% - var(--main-aside-width) - var(--padding-l));
	height: 20rem;
	position: fixed;
	bottom: 0;
	background-size: contain;
	opacity: 0.5;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: bottom;
}
