html {
	font-family: "Lato", sans-serif;
	scrollbar-width: thin;
	scrollbar-color: #eaeaea transparent;
}

body {
	margin-top: calc(var(--main-header-height) + var(--padding-m));
	margin-left: calc(var(--main-aside-width) + var(--padding-m));
}

.monospace {
	font-family: "JetBrains Mono", monospace;
	font-size: small;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--padding-m);
}