.main-header /* impl Css::MAIN_HEADER */ {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--main-header-height);
	border-bottom: var(--border);
	background-color: white;
	z-index: 10;
}
.main-header > * {
	margin: var(--padding-s);
}
.header-logo /* impl Css::MAIN_HEADER_LOGO */ {
	background-image: url(/assets/logo.svg);
	background-size: 2rem;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-left: 2.5rem;
	margin-right: auto;
	height: 2rem;
	align-content: center;
}
.main-aside /* impl Css::MAIN_ASIDE */ {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: var(--main-aside-width);
	margin-top: calc(var(--main-header-height));
	border-right: var(--border);
}
.main-aside > div {
	display: flex;
	flex-direction: column;
}
.header-user /* impl Css::HEADER_USER */ {
	font-size: large;
	font-weight: bold;
	text-align: center;
	background-color: #ddd;
}
.header-user:hover {
	cursor: default;
	box-shadow: none !important;
}
.header-dropdown /* impl Css::HEADER_DROPDOWN */ {
	position: relative;
}
.header-dropdown:hover {
	cursor: pointer;
	box-shadow: var(--hover);
}
.header-dropdown-content /* impl Css::HEADER_DROPDOWN_CONTENT */ {
	display: none;
	position: absolute;
	right: 0;
	user-select: none;
	padding-top: var(--padding-s);
	padding-bottom: var(--padding-s);
	background-color: white;
	box-shadow: var(--shadow-overlay);
	border-radius: var(--radius);
	min-width: 14rem;
	border: var(--border);
	animation: float-down 250ms ease forwards;
}
.header-dropdown-content.nested /* impl Css::HEADER_DROPDOWN_NESTED */ {
	right: 101%;
	top: calc(var(--padding-s) * -1);
}
.header-dropdown.show > .header-dropdown-content {
	display: flex;
	flex-direction: column;
	cursor: default;
}
.float-right /* impl Css::FLOAT_RIGHT */ {
	margin-left: auto;
}
.header-colour /* impl Css::HEADER_COL */ {
	border-radius: 100%;
}
.rainbow /* impl Css::RAINBOW */ {
	background: linear-gradient(
		90deg,
		rgb(255, 0, 0) 0%,
		rgb(255, 154, 0) 10%,
		rgb(208, 222, 33) 20%,
		rgb(79, 220, 74) 30%,
		rgb(63, 218, 216) 40%,
		rgb(47, 201, 226) 50%,
		rgb(28, 127, 238) 60%,
		rgb(95, 21, 242) 70%,
		rgb(186, 12, 248) 80%,
		rgb(251, 7, 217) 90%,
		rgb(255, 0, 0) 100%
	);
}
#accent-picker /* [trim] impl Css::ID_ACCENT_PICKER */ {
	all: unset;
	width: 0;
}
@keyframes float-down {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
