.main-header { /* impl Css::MAIN_HEADER */
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--main-header-height);
	border-bottom: 1px solid black;
	background-color: white;
}
.main-header > * {
	margin: var(--padding-s);
}
.header-logo { /* impl Css::MAIN_HEADER_LOGO */
	background-image: url(/assets/logo.svg);
	background-size: 2rem;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-left: 2.5rem;
	margin-right: auto;
	height: 2rem;
	align-content: center;
}
.main-aside { /* impl Css::MAIN_ASIDE */
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: var(--main-aside-width);
	margin-top: calc(var(--main-header-height));
	border-right: 1px solid black;
}
.main-aside > div {
	display: flex;
	flex-direction: column;
}
.header-dropdown { /* impl Css::HEADER_DROPDOWN */
	position: relative;
}
.header-dropdown:hover {
	box-shadow: var(--hover);
	cursor: pointer;
}
.header-dropdown-content { /* impl Css::HEADER_DROPDOWN_CONTENT */
	display: none;
	position: absolute;
	right: 0;
	user-select: none;
	padding-top: var(--padding-s);
	padding-bottom: var(--padding-s);
	background-color: white;
	box-shadow: var(--shadow-overlay);
	border-radius: var(--radius);
	min-width: 14rem;
}
.header-dropdown-content.nested { /* impl Css::HEADER_DROPDOWN_NESTED */
	right: 101%;
	top: calc(var(--padding-s) * -1);
}
.header-dropdown.show > .header-dropdown-content {
	display: flex;
	flex-direction: column;
	cursor: default;
}
.float-right { /* impl Css::FLOAT_RIGHT */
	margin-left: auto;
}
