.main-header /* impl Css::MAIN_HEADER */ {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--main-header-height);
	border-bottom: var(--border);
	background-color: white;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(8px);
	box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 2px, rgba(0, 0, 0, 0.02) 0px 1px 0px;
}
.main-header > * {
	margin: var(--padding-s);
}
.header-logo /* impl Css::MAIN_HEADER_LOGO */ {
	background-image: url(/assets/logo.svg);
	background-size: 2rem;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: large;
	padding-left: 2.5rem;
	margin-left: var(--padding-m);
	margin-right: auto;
	height: 2rem;
	align-content: center;
}
.main-aside /* impl Css::MAIN_ASIDE */ {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: var(--main-aside-width);
	margin-top: calc(var(--main-header-height));
	border-right: var(--border);
	background-color: var(--fill);
}
.main-aside > div {
	display: flex;
	flex-direction: column;
}
.header-user /* impl Css::HEADER_USER */ {
	font-size: large;
	font-weight: bold;
	text-align: center;
	background-color: #ddd;
}
.header-user:hover {
	cursor: default;
	box-shadow: none !important;
}
.header-dropdown /* impl Css::HEADER_DROPDOWN */ {
	position: relative;
}
.header-dropdown:hover {
	cursor: pointer;
	box-shadow: var(--hover);
}
.header-dropdown-content /* impl Css::HEADER_DROPDOWN_CONTENT */ {
	display: none;
	position: absolute;
	right: 0;
	user-select: none;
	padding-top: var(--padding-s);
	padding-bottom: var(--padding-s);
	background-color: var(--fill);
	box-shadow: var(--shadow-overlay);
	border-radius: var(--radius);
	min-width: 14rem;
	border: var(--border);
	animation: float-down 250ms ease forwards;
}
.header-dropdown-content.nested /* impl Css::HEADER_DROPDOWN_NESTED */ {
	right: 101%;
	top: calc(var(--padding-s) * -1);
}
.header-dropdown.show > .header-dropdown-content {
	display: flex;
	flex-direction: column;
	cursor: default;
}
.float-right /* impl Css::FLOAT_RIGHT */ {
	margin-left: auto;
}
.header-colour /* impl Css::HEADER_COL */ {
	border-radius: 100%;
}
.rainbow /* impl Css::RAINBOW */ {
	background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}
#accent-picker /* [trim] impl Css::ID_ACCENT_PICKER */ {
	all: unset;
	width: 0;
}
@keyframes float-down {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@container style(--darkmode: 1) {
	.main-header {
		background-color: rgba(31, 31, 31, 0.6);
	}
}
