.input-message /* impl Css::INPUT_MESSAGE */ {
	display: none;
	position: absolute;
	top: calc(100% + 1px);
	border-radius: var(--radius);
	color: var(--colour-error);
	font-weight: bold;
	font-size: small;
	background-color: var(--bg);
	padding: 2px 4px 2px 4px;
	box-shadow:
		rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.12) 0px 2px 1px -1px,
		rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
	z-index: 1;
}
