.login-container { /* impl Css::LOGIN_CONTAINER */
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.login-container > section {
	padding: 3rem;
}
.login-container > section > div {
	display: inline-block;
	overflow: hidden;
	width: 100%; 
}
.login-container > section > div > div {
	animation-duration: 0.8s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
}
.login-container > section > div:nth-of-type(1) > div {
	animation-name: into-top;
}
.login-container > section > div:nth-of-type(2) > div {
	animation-name: into-btm;
	animation-direction: normal;
	width: 100%;
}
.login-container > section > hr {
	animation: intro-line 1.5s .3s both;
	height: 3px;
}
.login-container img {
	width: 7rem;
}
.login-container button {
	width: 100%;
}
@keyframes into-top {
	from {
		transform: translateY(105%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes into-btm {
	from {
		transform: translateY(-105%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes intro-line { 
	0%, 100% {
	  transform: scaleX(0);
	}
	30%, 70% {
	  transform: scaleX(1);
	}
}