.message /* impl Css::MESSAGE */ {
	border-style: solid;
	border-width: 2px;
	border-radius: var(--radius);
	padding: var(--padding-m);
	background-color: white;
}
.message.sm {
	padding: var(--padding-s);
}
.message.error {
	border-color: var(--colour-error);
	background-color: rgba(from var(--colour-error) r g b / 20%);
}
.message.warning {
	border-color: var(--colour-warning);
	background-color: rgba(from var(--colour-warning) r g b / 20%);
}
.message.info {
	border-color: var(--colour-primary);
	background-color: rgba(from var(--colour-primary) r g b / 20%);
}
.message.success {
	border-color: var(--colour-success);
	background-color: rgba(from var(--colour-success) r g b / 20%);
}
